---
import { getEntry, render } from 'astro:content';
import Container from '$components-astro/ui/Container.astro';
import Heading from '$components-astro/ui/Heading.astro';
import Section from '$components-astro/ui/Section.astro';

const entry = await getEntry('about', 'about');
if (!entry) {
  throw new Error('Missing about content entry');
}
const { Content } = await render(entry);
---

<Section class="reveal-left">
  <Container size="narrow">
    <Heading level={2}>{entry.data.heading}</Heading>
    <div
      class="mt-6 leading-relaxed text-foreground/80 [&_a]:text-primary [&_img]:h-auto [&_img]:max-w-full [&_img]:rounded-md"
    >
      <Content />
    </div>
  </Container>
</Section>
