---
import Container from '$components-astro/ui/Container.astro';
import Heading from '$components-astro/ui/Heading.astro';
import Section from '$components-astro/ui/Section.astro';

interface Props {
  title: string;
  tagline?: string;
}

const { title, tagline } = Astro.props;
---

<Section>
  <Container size="narrow">
    <div class="text-center">
      <Heading level={1}>{title}</Heading>
      {tagline && <p class="mt-4 text-foreground/70">{tagline}</p>}
    </div>
  </Container>
</Section>
