---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Container from '$components-astro/ui/Container.astro';
import Section from '$components-astro/ui/Section.astro';
import galleryService from './Gallery.service';

const entries = galleryService.sortEntries(await getCollection('gallery'));
---

{
  entries.length > 0 && (
    <Section>
      <Container>
        <ul class="grid list-none grid-cols-[repeat(auto-fill,minmax(16rem,1fr))] gap-4 p-0">
          {entries.map((entry) => (
            <li class="reveal-right">
              <figure class="m-0 overflow-hidden rounded-md border border-foreground/10">
                <Image
                  src={entry.data.photo}
                  alt={entry.data.alt}
                  widths={[320, 640, 960, 1280]}
                  sizes="(min-width: 768px) 33vw, 100vw"
                  loading="lazy"
                  class="block h-auto w-full"
                />
              </figure>
            </li>
          ))}
        </ul>
      </Container>
    </Section>
  )
}
