---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '$components-astro/About.astro';
---

<BaseLayout title="About — Aurora Colony Pub" description="About the Aurora Colony Pub.">
  <main>
    <About />
  </main>
</BaseLayout>
