---
import { Font } from 'astro:assets';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Footer from '$components-astro/Footer.astro';
import Nav from '$components-astro/Nav.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <Font cssVariable="--font-zilla-slab" preload />
    <Font cssVariable="--font-inter" preload />
    <ClientRouter />
    <slot name="head" />
  </head>
  <body class="bg-background font-body text-foreground">
    <header>
      <Nav />
    </header>
    <slot />
    <Footer />
  </body>
</html>
